<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body style="background-color: #efefef ;">
    <center style="margin:200px;">
        <fieldset style="width: 50% ;">
            <form action="../controller/loginCheck.php" method="post" enctype="">
                <img src="https://upload.wikimedia.org/wikipedia/en/thumb/4/45/AIUB_whole_logo.png/240px-AIUB_whole_logo.png"
                    alt="" style="height: 90px ;">
                <h1>
                    <a href="home.php  " style="text-decoration:none ;">
                        American International University-Bangladesh
                    </a>

                </h1>
                <table>
                    <tr>
                        <td> <b>Username</b> </td>
                        <td><input type="text" name="username" value=""></td>
                    </tr>
                    <tr>
                        <td> <b>Password</b> </td>
                        <td><input type="password" name="password" value=""></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td> <input type="submit" name="" value="Login">
                            <a href="reg.php" style="text-decoration: none;">Register</a>
                        </td>

                    </tr>

                </table>
            </form>
            <a href="forgetPassword.html" style="text-decoration: none; color: rgb(3, 3, 72);">Can't access your
                account? </a>
        </fieldset>

    </center>
</body>

</html>